<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="40" fxLayout="column" fxLayout.gt-xs="column" style="height:600px"
      fxLayoutAlign="space-between stretch">
      <ul class="list_view">
        <li *ngFor="let itemdetail of addeditemlst">
          <div fxLayoutAlign="space-between start">
            <mat-icon fxFlex="4" style="text-align: left" (click)="removeItem(itemdetail)">highlight_off</mat-icon>
            <span fxFlex="30" style="text-align: left">{{itemdetail.name}}</span>
            <span fxFlex="20" style="text-align: right">{{itemdetail.price}}</span>
            <div fxFlex="15">
              <button (click)="add(itemdetail)">+</button>
              {{itemdetail.itemcount}}
              <button (click)="remove(itemdetail)">-</button>
            </div>
            <span fxFlex="20" style="text-align: right">{{itemdetail.totalprice}}</span>
          </div>
        </li>
        <li *ngIf="addeditemlst.length == 0">
          <div fxLayoutAlign="center center">
            <div>
              THERE ARE NO PRODUCT
            </div>
          </div>
        </li>
      </ul>
      <table>
        <tr *ngFor="let data of subtotallist">
          <td style="text-align:left; width: 40%; background-color: cyan;">{{ data.title }}</td>
          <td style="text-align:left; width: 30%; background-color: floralwhite">{{ data.value }}</td>
          <td style="text-align:right; width: 30%; background-color: floralwhite">{{ data.subtotal }}</td>
        </tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <button class="button h_button" style="background-color: #FF0000">CANCEL SALE</button>
        <button class="button h_button" style="background-color: #4CAF50">PROCCESS SALE</button>
      </div>
    </div>
    <div fxFlex="55" fxLayout="column" fxLayout.gt-xs="column">
      <div>
        <div class="content_img" *ngFor="let row of imageurls">
          <img [src]="row.url" class="rounded mb-3" (click)="addItem(row)">
          <div style="text-align: center;" (click)="addItem(row)">{{row.name}}<br>{{row.price}}<br>{{row.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>